
// You can add these variables to your _base.scss
$superfish-1-color: #000;
$superfish-1-background-color-level-first: #f0f0f0;
$superfish-1-background-color-level-second: #e0e0e0;
$superfish-1-background-color-level-third: #d0d0d0;
$superfish-1-white: #FFF;
$superfish-1-rollover: #537187;

#block-superfish-2 {
	margin:15px;
	float:right;
	.sf-style-none {
		float: left;
		margin: 0;
		padding: 0;
		&.sf-navbar {
			width: 100%;
			/* background: $superfish-1-background-color-level-first; */
		}
		ul {
			padding-left: 0;
			&.sf-megamenu li {
				&.sf-megamenu-wrapper {
					background: transparent;
					li {
						background: transparent;
						&:focus, &:hover {
							background-color: $superfish-1-rollover;
						}
					li.active-trail {
						color:$superfish-1-white;
					}
					}
				}
			}
		}
		li {
			&:focus, &:hover {
				background-color: $superfish-1-rollover;
			}
		}
		li.active-trail:hover, 
		li.active-trail:focus {
			background-color: $superfish-1-rollover;
			a {
				color:$superfish-1-white;
			}
					}
		a {
			color: $superfish-1-color;
			margin: 0.5em 0;
			padding: 0 0.5em;
			border-right: 1px solid #000;
			font-size: 1.075em;

			&.sf-with-ul {
				padding-right: 2.25em;
			}
			&:focus, &:hover {
				color:$superfish-1-white;
				outline: 0;
			}
		}
		a.active {
				color:$superfish-1-white;
				
			}
		span {
			&.nolink {
				color: $superfish-1-color;
				padding: 0.75em 1em;
				&.sf-with-ul {
					padding-right: 2.25em;
				}
				&:hover {
					
					outline: 0;
				}
			}
			&.sf-description {
				color: $superfish-1-color;
				display: block;
				font-size: 0.833em;
				line-height: 1.5;
				margin: 5px 0 0 5px;
				padding: 0;
			}
		}
		&.rtl {
			span {
				&.sf-description {
					margin: 5px 5px 0 0;
				}
				&.nolink.sf-with-ul {
					padding-left: 2.25em;
					padding-right: 1em;
				}
			}
			a.sf-with-ul {
				padding-left: 2.25em;
				padding-right: 1em;
			}
		}
		li {
			background: transparent;
			li {
				background: $superfish-1-background-color-level-second;
				li {
					background: $superfish-1-background-color-level-third;
				}
			}
			&:hover {
				> a {
					color:$superfish-1-white;
				}
				outline: 0;
				> ul {
					top: 40px;
				}
			}
			&.sfHover {
				
				outline: 0;
				> ul {
					top: 40px;
				}
			}
			};
		li.last {
			a {
				border-right: none;
			}	
		}
		.sf-sub-indicator {
			background-image: url('../images/dropdown-arrows.png');
		}
	}
	div.sf-accordion-toggle {
		float:right;
		margin: 0.7em 0;
		&.sf-style-none a {
			background: $brand-ltblue;
			color: $superfish-1-color;
			padding: 1em;
			border: 1px solid #FFF;
			/*&.sf-expanded {
				background-color: $superfish-1-background-color-level-fourth;
				font-weight: bold;
			}*/
		}
	}
	.sf-menu.sf-style-none {
		&.rtl {
			&.sf-accordion li {
				li {
					a {
						padding-left: auto;
						padding-right: 2em;
					}
					li {
						a {
							padding-left: auto;
							padding-right: 3em;
						}
						li {
							a {
								padding-left: auto;
								padding-right: 4em;
							}
							li {
								a {
									padding-left: auto;
									padding-right: 5em;
								}
								span.nolink {
									padding-left: auto;
									padding-right: 5em;
								}
							}
							span.nolink {
								padding-left: auto;
								padding-right: 4em;
							}
						}
						span.nolink {
							padding-left: auto;
							padding-right: 3em;
						}
					}
					span.nolink {
						padding-left: auto;
						padding-right: 2em;
					}
				}
			}
			ul.sf-megamenu {
				li.sf-megamenu-wrapper {
					ol li {
						&.sf-megamenu-column {
							float: right;
						}
					}
				}
			}
		}
		&.sf-accordion li {
			&.sf-expanded {
				background-color: $brand-ltblue;
				border:1px solid #fff;
				> {
					a {
						font-weight: bold;
					}
					span.nolink {
						font-weight: bold;
					}
				}
			}
			li {
				a {
					padding-left: 2em;
				}
				li {
					a {
						padding-left: 3em;
					}
					li {
						a {
							padding-left: 4em;
						}
						li {
							a {
								padding-left: 5em;
							}
							span.nolink {
								padding-left: 5em;
							}
						}
						span.nolink {
							padding-left: 4em;
						}
					}
					span.nolink {
						padding-left: 3em;
					}
				}
				span.nolink {
					padding-left: 2em;
				}
			}
			a.sf-accordion-button {
				font-weight: bold;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 499;
			}
		}
		ul.sf-megamenu {
			li.sf-megamenu-wrapper {
				ol {
					margin: 0;
					padding: 0;
					li {
						margin: 0;
						padding: 0;
						&.sf-megamenu-column {
							display: inline;
							float: left;
						}
					}
				}
				a.menuparent {
					font-weight: bold;
				}
				span.nolink {
					&.menuparent {
						font-weight: bold;
					}
				}
			}
		}
	}
}