// Media query variables.
$tablet:  "screen and (min-width: 768px)";
$normal:  "screen and (min-width: 992px)";
$wide:    "screen and (min-width: 1200px)";

//font
h2 {
  color: $text-color;
  font-size: $font-size-large;
  margin-top: 1em;
}
a {
  text-decoration: underline;
}

//Navbar

.navbar.container-fluid {
  margin-top: 0;
}
.container-fluid > .navbar-header {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
a.name {
  font-size: 2em;
  text-decoration: none;
}
.navbar-btn {
  margin:1em 0;
}
.navbar-brand {
  line-height: inherit;
}
.navbar-default .navbar-brand {
  color:$white;
  &:hover, 
  &:focus {
    text-decoration:underline;
  }
}
.library, 
.southwestern {
  color:$white;
  font-size: 1em;
  margin-top: -5px;
  line-height: 1em;
  float:left;
  text-decoration: none;
    &:hover, &:focus {
      color:#fff !important;
    }
}
.library, 
.logo, 
.owners {
  float:right;
}
.library {
  padding-left:10px;
}
.southwestern {
  padding-right: 10px;
  border-right: 1px solid #fff;
}

// Region Header or TOP Bar
#top-bar {
  background-color: $brand-ltblue;
}
.region-header, 
.region-search {
  padding:15px 15px 0 15px;
}
.region-timeline {
  padding:15px 15px 0 15px;
}
.region-timeline p {
  font-size: $font-size-xs;
}

input[type="radio"], input[type="checkbox"] {
  margin-right:5px;
}
// TIMELINE
.ui-widget-content {
  background:#fff url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
}
.ui-widget-header {
  background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
}

// TAXONOMY PAGEs
.panel-1col {
  padding: 0 1em 1em 1em;
  border:1px solid $page-header-border-color;
  margin:0 4em 2em 0;
}

// Footer
.footer {
  background-color: $brand-ltblue;
  padding: 15px;
}
#block-block-1, /* Footer block */
#block-block-3 {/* CC License block */
  float:right;
  font-size: 0.9375em;
}
#block-block-3 { /* CC License block */
  float:left;
}

// Event NODE 
#content {
  margin-left:75px;
  margin-right: 75px;
  margin-bottom: 125px;
}
.col-sm-9 > #content { /*for pages like search page */
  margin-left:50px;
  margin-right:50px;
}
h1.page-header {
  margin-left:75px;
  border-bottom-width:thin;
  margin-right:40%;
  border-color:$page-header-border-color;
}
.pane-title {
  font-weight: bold;
}
.field {
  margin-bottom: 1em;
}
.field-label {
  padding-right: 1em;
}
.field-name-field-geocoords {
  font-size: $font-size-xs;
}

// Slider
#views-exposed-form-leaflet-panel-pane-1 {
  .views-widget {
    display:none;
  }
  .views-exposed-form .views-exposed-widget {
    float:none;
    padding:0 1em;
  }
  .description {
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.86em;
  }
  .views-exposed-form label {
    display:none;
  }
}
.ui-slider-horizontal .ui-slider-handle {
  top:-0.5em;
}
.ui-slider-horizontal {
  height: 0.5em;
  border-radius:0;
}
.ui-slider .ui-slider-handle {
  width:30px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background:$brand-dkblue url(images/Slider.png) center no-repeat;
  border-color:$brand-dkblue;
  border-radius:0;
  cursor:e-resize;
}
// Tribe or SHS display

li.shs-parent, 
li.shs-term-selected {
  display:inline;
  &::after {
    content: none;
  }
}
li.shs-parent {
  &::after {
    content: "> ";
  }
}
li.shs-term-selected {
  &::after {
    content: none;
  }
}
// SEARCH
.current-search-item > h1.page-header {
  margin-left:0;
}

.facetapi-facetapi-checkbox-links {
  list-style-type: none;
  padding-left: 1em;
  a {
    text-decoration: none;
  }
}
.view-search {
  margin-top:2.5em;
}
#views-exposed-form-search-page {
  #edit-search-api-views-fulltext,
  #edit-submit-search {
    max-height: 30px;
    border-color:$page-header-border-color;

  }
  #edit-search-api-views-fulltext {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-width: 1px 0 1px 1px;
    color:rgba(23,85,134,0.76);
    font-size: $font-size-xs;
    box-shadow:none;
  }
  #edit-submit-search {
    margin-top:0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width:1px 1px 1px 0;
    color:$brand-dkblue;
    background-color:#fff;
    padding-top:4px;
    padding-left:0;
  }  
  .views-exposed-widgets {
    margin-bottom:10px;
  }
  #edit-search-api-views-fulltext-wrapper, 
  .views-exposed-form .views-exposed-widget {
    padding: 0;
  }
}
.glyphicon-search::before {
  padding-left:10px;
  border-left:1px solid $brand-dkblue;
}
#edit-submitted-name{  
    color: white;
text-align:center;
}

fieldset.custom_search-popup {
  left:-9999px;
}

// Event List
#event-list, 
#block-views-event-list-block-2 {
  height: 75vh;
  overflow-y:scroll;
  cursor: default;
}
#event-list {
  .views-row {
    font-size:0.9375em;
    padding: 15px;
    border-bottom:1px solid $page-header-border-color;
    &:hover {
      background-color: $rollover;
    }
  }
}

/* Views Table format */
tr.synced-marker-hover > td,
tr.odd.synced-marker-hover > td,
tr.even.synced-marker-hover > td,
tr.synced-marker-hover > td.active,
tr.odd.synced-marker-hover > td.active,
tr.even.synced-marker-hover > td.active {
  background-color: $rollover;
}
/* For Views Unformatted, HTML-list */
.views-row.synced-marker-hover  {
  background-color: $rollover;
}
/* For Views Grid */
.views-view-grid td.synced-marker-hover {
  background-color: $rollover;
}


// Leaflet Popup 
.leaflet-popup-content {
  max-height: 28em;
  overflow-y:scroll;
  a {
    color:$link-color;
  }
  a:nth-child(1) {
    font-size: 1.15em;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    font-size: 1.08em;
    margin:0;
  }
  > p:nth-child(3) {
    margin-top:0.75em;
  }
}
.leaflet-control {
  z-index: 0;
}

.leaflet-container a.leaflet-popup-close-button {
  color:$link-color;
  &:hover, &:focus {
    color:$link-color;
  }
}
// Leaflet Zoom 
  .leaflet-bar a:hover, 
  .leaflet-bar a:focus {
    background-color: $brand-ltblue;
  }


// Legend
.btn-legend {
  border-radius: 8px;
  border-color:#fff;
  padding-top:6px;
  padding-bottom: 2px;
  background-color: #fff;
  &:hover {
    background-color:#fff;
  }
}
.legend {
  width: 10px;
  height: 10px;
  display:inline-block;
  color:#000;
  border:8px solid;
  margin-right: 11.5px;
}
.legend-1 { /* Mexican/Dk. Blue */
  color:#256f92;
}
.legend-2 { /* Revolution/Lt. Blue */
  color:#a6cee3;
}
.legend-3 { /* Republic/Green */
  color:#9ec2a0;
}
.legend-4 { /* Statehood/Turquoise */
  color:#55999c;
}
.legend-marker {
  img {
    height:25px;
    margin:-15px 10px 10px 10px;
    display: inline-block;
  }
  p {
    font-size: $font-size-xs;
    display: inline-block;
  }
}
.legend-arrow {
  background-image:url(images/down-arrow1.png);
  border:none;
  margin-right:0;
  &:after {
    content:none;
  }
}
.btn-group.open .dropdown-toggle {
  box-shadow: none;
  border-radius: 8px 8px 0 0;
  min-width: 200px;
}
.dropdown-menu {
  box-shadow: none;
  border:none;
  border-radius: 0 0 8px 8px;
  margin:0;
  min-width:200px;
}
// Basic Page
.node-page {
  max-width: 1000px;
  margin: auto;
}
// Map Basic page
.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 1);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  padding: 25px 15px;
  max-width: 250px;
}
#legend-heatmap {
  h2 {
    margin-top:0;
    text-align:center;
  }
  p {
    font-size: 12px;
  }
  img {
    display:block; 
    margin: 20px auto;
  }
}
.map-overlay-nav {
  position: absolute;
  top: 0;
  right: 0;
  color: $white;
  background: rgba(62, 62, 62, 1);
  margin: 10px 30px 10px 10px;
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 150px;
  p {
    font-size: 12px;
  }
  a {
    text-decoration:none; 
    color:#fff;
  }
}
.front .map-overlay-nav {
  margin:55px 10px 10px 10px;
}
// About Page 
.about-image-left, 
.about-image-right {
  max-width: 300px;
  margin-bottom:10px;
}
.about-image-left {
  margin-right:20px;
  float:left;
}
.about-image-right {
  margin-left:20px;
  float: right;
}
.clear {
  clear:both;
}
// Media Queries

@media (max-width: 1400px) {
  .library, .southwestern {
    font-size: 0.75em;
  }
  .name {
    font-size: 2em;
  }
}
@media (min-width: $screen-lg) and (max-width: 1308px) {
  #views-exposed-form-search-page #edit-search-api-views-fulltext {
    max-width:230px;
  }
}

@media (min-width: $screen-lg) {
/*  .southwestern, 
  .name {
    float: left;
  }
  .library, 
  .logo, 
  .owners {
    float:right;
  } */
  .well {
    padding-left:75px;
  }
}
@media (min-width: $screen-md-min) {
  /* Search Menu item only to display ONLY at mobile */
  #menu-1523-2, /* dev */
  #menu-1517-2, /* test */
  #menu-1245-2 /* production */{
    display: none;
  }
  #region-center {
    min-height: 35em;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .name {
    padding: 0;
    height: 50px;
  }
}
@media (max-width: $screen-md-max) {
  .owners, 
  .logo {
    float:left;
  }
  .name {
    font-size: 1.5em;
    float:left;
    clear:both;
  }
  .library, 
  .southwestern {
    margin-bottom: 1em
  }
  #block-block-1, /* Footer block */
  #block-block-3 {/* CC License block */
    font-size: $font-size-xs;
  }
  #views-exposed-form-search-page #edit-search-api-views-fulltext {
    max-width:175px;
  }
}
@media (max-width: $screen-sm-max) {
  .name {
    height: inherit;
    padding-top: 0;
    padding-bottom: 10px;
    clear:left;
    margin-top: 0.5em;
  }
  a.name {
    font-size:1em;
  }
  .logo {
    margin:0.5em 0;
    img { 
      max-width:75%;
      float:left;
      margin-top:0.75em;
    }
  }
  .navbar {
    min-height: 0;
  }
  #block-superfish-2 .sf-style-none a {
    border-right:none;
  }
  #block-block-1 {
    float:left;
  }
  #event-list {
    .views-row {
      font-size:0.75em;
    }
  }
  .owners-footer {
    font-size: $font-size-small;
  }
  .region-center {
    min-height: 22em;
  }
}
@media (max-width: $screen-xs-max) {
  .name {
    font-size: 1em;
  }
  #content {
    margin:0 20px 20px 20px;
  }
  .col-sm-9 > #content {
    margin: 20px;
  }
  h1.page-header {
    margin-right:20px;
    margin-left:20px;
    font-size: 1.35em;
  }
  ul.sf-menu.sf-accordion li {
    font-size: 0.9em;
  }
    .description {
    font-size: 0.8em;
  }
  .legend-marker p {
    font-size: 0.75em
  }
  .leaflet-popup-content {
    p {
      font-size: 1.0em;
    }
    a {
      font-size: 1.08em;
    }
  }
  body {
    font-size: $font-size-small;
  }
  .owners-footer,
  #block-block-1, /* Footer block */
  #block-block-3 {/* CC License block */
    font-size: 0.75em
  }
  h2.block-title {
    font-weight: bold;
    font-size: $font-size-small;
  }
  .facetapi-checkbox {
    font-size: $font-size-xs;
  }
}
@media (max-width: 326px) {
    #views-exposed-form-search-page #edit-search-api-views-fulltext {
    max-width:170px;
  }
}